
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    DolphinContext.Data.Models.DolRole Model_Role = ViewBag.UserRole;
    dolphin.Models.RoleManagement rolemgt = new dolphin.Models.RoleManagement();
}

@{if (!String.IsNullOrEmpty(ViewBag.ErrorMsg))
            {
        <div id="ErrorBox" style="margin:auto">
            <div class="alert alert-dismissable alert-danger" style="margin-top:10px;">
                <i class="fa fa-fw fa-times"></i>&nbsp; <strong></strong> @ViewBag.ErrorMsg
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
        </div>
    }

    if (!String.IsNullOrEmpty(ViewBag.SuccessMsg))
    {
        <div id="ErrorBox" style="margin:auto">
            <div class="alert alert-dismissable alert-success" style="margin-top:10px;">
                <i class="fa fa-fw fa-check"></i>&nbsp; <strong></strong> @ViewBag.SuccessMsg
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
        </div>
    }

}
<form class="form-horizontal row-border" id="validate-form" method="post" action="">
    <div class="col-md-12">
        <div class="col-md-6">

            <div class="form-group">
                <label class="col-sm-3 control-label">Title</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="RoleName" value="@((Model_Role != null)?Model_Role.RoleName : string.Empty)">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Description</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="RoleDesc" value="@((Model_Role != null)?Model_Role.RoleDesc : string.Empty)">
                </div>
            </div>
        </div>

        <div class="col-md-6">       
            <div class="form-group pb10">
                <label class="col-sm-3 control-label">Status</label>
                <div class="col-sm-6">
                    <ul class="demo-btns mb-10">
                        <li><input class="bootstrap-switch" name="RoleStatus" Value="true" type="checkbox" data-on-text="<i class='fa fa-check'></i>" data-on-color="success" data-off-text="<i class='fa fa-times'></i>" data-off-color="danger" /></li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-9" style="margin-top:40px">
                <div class="btn-toolbar">
                    <button class="btn btn-primary pull-right" type="submit">Update</button>
                 
                </div>
            </div>
        </div>
    </div>










</form>




<script>
// See Docs
	window.ParsleyConfig = {
    	  successClass: 'has-success'
		, errorClass: 'has-error'
		, errorElem: '<span></span>'
		, errorsWrapper: '<span class="help-block"></span>'
		, errorTemplate: "<div></div>"
		, classHandler: function(el) {
    		return el.$element.closest(".form-group");
		}
	};
</script>
