<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
  <add key="LoanFile" value="~/LoanImg/"/>
</appSettings>
  <connectionStrings>
    <add name="DolphinConPoco1" connectionString="Data Source=.;Initial Catalog=dolphin;MultipleActiveResultSets=true;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="FountainConPoco" connectionString="Data Source=.\SQLEXPRESS; User ID=sa; Password=P@ssword1; Initial Catalog=PureFountain; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>